.list,.wbg{
    background-color: white !important;
}
tr.list{
    cursor:pointer;
}
.list:hover{
    background-color: #eeeeee !important;
}
.listHead{
    background-color: #00695c !important;
}
.listHead,.listHead td,.list,.list td{
    border: none;
    border-radius:0;
}
label[for="selectAll"]::after{
    border-color: white !important;
}
.downBtn{
    opacity: 0.7;
}
.downBtn:hover{
    opacity: 1;
}
#downloads::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.05);
}
#downloads::-webkit-scrollbar
{
    width: 4px;
    background-color: transparent;
}
#downloads::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0);
}
.pWrap{
    cursor: pointer;
}