@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../fonts/MaterialIcons-Regular.woff2")format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.cssload-container * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cssload-container {
    margin: 19px auto 0 auto;
    max-width: 545px;
}

.cssload-container ul li{
    list-style: none;
}

.cssload-flex-container {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
}
.cssload-flex-container li {
    padding: 10px;
    height: 97px;
    width: 97px;
    margin: 29px 19px;
    position: relative;
    text-align: center;
}

.cssload-loading, .cssload-loading:after, .cssload-loading:before {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 49px;
    background: rgb(0,0,0);
    margin-top: 5px;
    border-radius: 975px;
    -webkit-border-radius: 975px;
    animation: cssload-upDown2 1.15s ease infinite;
    -webkit-animation: cssload-upDown2 1.15s ease infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-delay: 0.29s;
    -webkit-animation-delay: 0.29s;
}
.cssload-loading:after, .cssload-loading:before {
    position: absolute;
    content: '';
    animation: cssload-upDown 1.15s ease infinite;
    -webkit-animation: cssload-upDown 1.15s ease infinite;
    -moz-animation: cssload-upDown 1.15s ease infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}
.cssload-loading:before {
    left: -10px;
}
.cssload-loading:after {
    left: 10px;
    animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -moz-animation-delay: 0.58s;
}




@keyframes cssload-upDown {
    from {
        transform: translateY(19px);
    }
    to {
        transform: translateY(-19px);
    }
}
@-webkit-keyframes cssload-upDown {
    from {
        -webkit-transform: translateY(19px);
    }
    to {
        -webkit-transform: translateY(-19px);
    }
}
@keyframes cssload-upDown2 {
    from {
        transform: translateY(29px);
    }
    to {
        transform: translateY(-19px);
    }
}
@-webkit-keyframes cssload-upDown2 {
    from {
        -webkit-transform: translateY(29px);
    }
    to {
        -webkit-transform: translateY(-19px);
    }
}

*{
    font-family: "Roboto", sans-serif;
}
body:hover::-webkit-scrollbar-track,.scroll1::-webkit-scrollbar-track
{
    background-color: rgba(149, 149, 149, 0.2);
}
body::-webkit-scrollbar,.scroll1::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb,.scroll1::-webkit-scrollbar-thumb
{
    background-color: #424242;
    border: 2px solid rgba(255, 255, 255, 0);
}
.scroll2::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.05);
}
.scroll2::-webkit-scrollbar
{
    width: 4px;
    background-color: transparent;
}
.scroll2::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0);
}
.list,.wbg{
    background-color: white !important;
}
tr.list{
    cursor:pointer;
}
.list:hover,.hoverBg:hover{
    background-color: #eeeeee !important;
}
.listHead{
    background-color: #00ADB5 !important;
    color: white !important;
}
nav{
    background-color: #222831;
}
.dropdown-content .navigation{
    color: #393E46;
}
.listHead,.listHead td,.list,.list td{
    border: none;
    border-radius:0;
}