label[for="selectAll"]::after{
    border-color: white !important;
}
.downBtn{
    opacity: 0.7;
}
.downBtn:hover{
    opacity: 1;
}
#downloads::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.05);
}
#downloads::-webkit-scrollbar
{
    width: 4px;
    background-color: transparent;
}
#downloads::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0);
}
.pWrap{
    cursor: pointer;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-delay: 0.5s;
}
.sum{
    border: black solid;
    border-width: 1px 0 0;
}